
@using Yurt.Mvc.Models;

@{
    ViewBag.Title = "Ogrenci Listesi";
}
@model IEnumerable<Ogrenci>
<h2>Ogrenci Listesi</h2>

<table class="table table-striped">

    <thead>
        <tr>
            <th>Ad</th>
            <th>Soyad</th>
            <th>Tc Kimlik Numarası</th>
            <th>Anne Adı</th> 
            <th>Anne Soyadı</th>
            <th>Baba Adı</th>
            <th>Baba Soyadı</th>
            <th>Okulu</th>
            <th>İşlemler</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.ad</td>
                <td>@item.soyad</td>
                <td>@item.tc</td>
                <td>@item.anneAd</td>
                <td>@item.anneSoyad</td>
                <td>@item.babaAd</td>
                <td>@item.babaSoyad</td>
                <td>@item.okulu.Okul_Ad</td>

                <td>
                    <a href="/Admin/Ogrenci/Guncelle/@item.ogrenciId" class="btn btn-sm btn-primary">Guncelle</a>
                    <a href="/Admin/Ogrenci/OgrenciSil/@item.ogrenciId" class="btn btn-danger" onclick="return confirm('Bu öğrenciyi silmek istediğinize emin misiniz?')">Sil</a>
                </td>
            </tr>
        }


    </tbody>




</table>

